body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 200px;
  padding: 20px;
}

h1 {
  background-color: rgba(90, 88, 88, 0.925);
  color: whitesmoke;
  text-shadow: 1px 1px black;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  margin: 25px;
  padding: 25px;
}

a {
  color: blue;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 1px;
  margin: 20px;
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
